<div class="container">
    <h2>{{title}}</h2>

    <div class="message success" *ngIf=" sent == 'true' ">
        El proyecto ha sido creado con exito, pulsa <a [routerLink]="['/proyectos',idSaved]">aquí</a> para verlo
    </div>

    <div class="message failed" *ngIf=" sent == 'false' ">
        El proyecto no se pudo crear
    </div>

    <form #createProject="ngForm" (ngSubmit)="onSubmit(createProject)" action="">
        <p>
            <label for="name">Nombre:</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required/>

            <span class="mensajeAlerta" *ngIf="name.touched && !name.valid">
                El nombre es obligatorio
            </span>
        </p>
        <p>
            <label for="description">Descripción:</label>
            <textarea name="description" #description="ngModel" [(ngModel)]="project.description" required></textarea>

            <span class="mensajeAlerta" *ngIf="description.touched && !description.valid">
                La descripcion es obligatoria
            </span>
        </p>
        <p>
            <label for="year">Año:</label>
            <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year"/>
        </p>
        <p>
            <label for="langs">Tecnologías:</label>
            <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required/>

            <span class="mensajeAlerta" *ngIf="langs.touched && !langs.valid">
                Las tecnologías son obligatoria
            </span>
        </p>
        <p>
            <label for="img">Imagen del Proyecto:</label>
            <input type="file" name="img" #img="ngModel" (change)="changeFile($event)" [(ngModel)]="project.image" placeholder="Subir imagen"/>
        </p>
        <input type="submit" value="Enviar" [disabled]="!createProject.form.valid">
    </form>
</div>