
<header>
  <ul>
    <li><a [routerLink] = "['/sobre-mi']" [routerLinkActive]="['urlActual']">Sobre mí</a></li>
    <li><a [routerLink] = "['/contacto']" [routerLinkActive]="['urlActual']">Contacto</a></li>
    <li class="logo"><a href="#">JE</a></li>
    <li><a [routerLink] = "['/proyectos']" [routerLinkActive]="['urlActual']">Proyectos</a></li>
    <li><a [routerLink] = "['/crear']" [routerLinkActive]="['urlActual']">Crear Proyectos</a></li>
  </ul>
</header>
<section id="content">
  <router-outlet></router-outlet>
</section>
<footer>
  Master en JavaScript | Juan Esteban Arango Zapata &copy;
</footer>